#banner_container {
	vertical-align: middle;
	position: relative;
	height: 80px;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;	
	color: #EEEEEF;
	background-color: #3552A2;
	background-repeat: no-repeat;
	background-position: 5px;
}
	
#banner_main {
	line-height: 75px;
	}

#body {
	    font-family: Arial, Helvetica, sans-serif;	
	    font-size: 14px;
	}

#disclaimer{
	    font-family: Arial, Helvetica, sans-serif;	
	    font-size: 10px;
		color: #555555;
}

#report-content {
	padding: 10px;
}

#report-map{
	width: 300px;
	height: 200px;
	background-color: #AAFFAA;
}
	
.x-btn .icon-instructions {
    background-image: url(./resources/help.png);
}

.x-btn .icon-report-parcel {
    background-image: url(./resources/report_parcel.png);
}

.x-btn .icon-report-polygon {
    background-image: url(./resources/report_polygon.png);
}
.x-collapsed-title{color:#15428b;font:11px/15px tahoma,arial,verdana,sans-serif;padding:3px 5px;font-weight: bold;}
.x-collapsed-title-90{
	color:#15428b;
	font:11px/15px tahoma,arial,verdana,sans-serif;
	padding:100px 5px;
	font-weight: bold;
	/* Safari */
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* IE */
	-ms-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.bmenu {
    background-image: url(menu-show.gif) !important;
}

.db-table {
	margin-top: 5px;
	width:100%;
	border:1px solid #000000;
	border-collapse: collapse;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.db-table table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;

}
.db-table tr:nth-child(odd){ background-color:#EEEEEE; }
.db-table tr:nth-child(even)    { background-color:#ffffff; }
.db-table td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:4px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.db-table tr:last-child td{
	border-width:0px 1px 0px 0px;
}.db-table tr td:last-child{
	border-width:0px 0px 1px 0px;
}.db-table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

.db-table th{
	border: 0px;
	}

.db-table li {
	list-style-type: square;
	margin-left: 15px;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
	
	h1
	{
		font-family: Arial;
		font-size: 18px;
	}

	.page-break {display: block; page-break-before: always;}

	body 
	{
		font-family: Arial;
		font-size: 14px;
	}



}

@media print\0{
	#report-content h1 {
		font-size: 21px;
	}

	.db-table td{
		font-family: Arial;
		font-size: 18px;
	}

	.db-table li {
		margin-left: 20px;
	}

	body {
		font-size: 9px;
	}
	.report-content {
		font-size:9px;
	}
}

@media print\9{
	#report-content h1 {
		font-size: 21px;
	}

	.db-table td{
		font-family: Arial;
		font-size: 18px;
	}

	.db-table li {
		margin-left: 20px;
	}

	body {
		font-size: 9px;
	}

}